@import url(/deti2/stayle/componets/header.css);





$color: #f5f3ef;
$pink: #f0aaa5;
$yelou:#f9be14;
$blue:#3e8bca;
$black:#070303;


$fz-1:5.5rem;
$fz-2:3.5rem;
$fz-3:2rem;
$fz-4:1rem;
$fz-5:0.75rem;


$mini:300;
$normal:400;
$bolt: 800;

                                        // regular
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk';
    font-style: normal;
    color: $black;
    background-color: $color;
    
}


h1{
    font-size: $fz-1;
    font-weight: 800;
    line-height:80px;
   
}

h2{
    font-size: $fz-2;
    font-weight: 800;
    line-height:60px;
    
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:$black;
    
}
           


.end{
    justify-content: end;
}



                                    //header

.logo{
    position: absolute;
    top: 40px;
    left: 40px;
}


                        //navbar

.nav-item{
    margin-right: 25px;
}





.soc{
    
    display: flex;
    align-items: center;
    .nav-item{
        margin-right: 15px;
    }
}



button{
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
    padding: auto;
}



.language{
    position: relative;
    padding: 0px;
    height:18px;
    margin: auto 0px;
}


.language:hover > .dropdown-lang{
    display: initial;
}

.dropdown-lang{
    z-index: 2;
    display: none;
    position: absolute;
    left: 0px;
    background-color: $color;
    padding: 0px 5px;
    justify-content: center;
    li{
        margin: 8px 0px;
       
    }
   
}


                                // button menu media open close




.menu-active {
    span::before{
        
        transform: rotate(40deg);
    }
    span::after{
        transform: rotate(-40deg);
    }
}




                                // button regular

    



    .btn-regular{
        text-transform: uppercase;
        border-radius: 60px;
        border: 2px $black solid;
        padding: 10px 12px;
        font-weight: 800;

    }
    .black{
        background-color: $black;
        color: #fff;
    }
    .white{
        background-color: $color;
        color: $black;
    }


    

                                // media? screen


                                


 @media screen  and (max-width:1200px){


 }

@media screen  and (max-width:994px){
  

    
 }


 

 @media screen  and (max-width:420px){
    


    header{
        padding: 0px;
    }

    
 }